*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	text-align: center;
	font-family: sans-serif;
	background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5)) 
    ,url("../img/fondo3.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 63px;
	background: #171717;
	position: fixed;
	width: 100%;
	z-index: 100%;
}

.navbar{
	display: flex;
	margin-right: 10px;
}

.logo{
	margin-left: 30px;
}

.logo img{
    height: 50px;
    align-items: center;
    margin-right: 10px;
}

.logo a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}

.navbar a{
	display: block;
	padding: 20px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

.navbar a:hover{
	background: #3f3f3f;
}

section{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;;
background-size: 100% 100%;
background-repeat: no-repeat;
}
.parrafo{
    width: 1500px;
    height: 550px;
    padding: 25px;
    font-size: 25px;
    line-height: 1.5;
    background transparent;
    border-radius: 5px;
    text-align: justify;
    color: white;
    min-width: 300px;
}
.parrafo img{
    width: 500px;
    border-radius: 5px;
    float: center;
    margin-right: 15px;
}

h1{
	text-align: center;
	font-size: 60px;
}

h2{
	font-size: 35px;
}

ol {
  list-style-type: circle;
}